ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-right: 10px;
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
}