.user-container {
  background-color:  white;
  border: 2px solid #585757;
  margin: 10px;
  padding: 10px;
  width: 250px;
  display: flex;
  justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
#user-name{
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
}

#user-desc{
    font-size: 1em;
    color: #555;
    font-weight: 300;
}